Ensemble methods

Натренувати класифікатори на датасеті

https://archive.ics.uci.edu/dataset/713/auction+verification

Мають бути 3 варіанти класифікаторів (стекінг, бустінг, беггінг)

Обов'язкові кроки:

первинний аналіз даних (відстуність пропусків, наявність категоріальних фіч, ...)
фича інжиніринг (побудувати  1-2 нові фічі)
масштабування фіч
поділ датасету на тренувальну, валідаційну та тестову частини
тренування базової моделі із дефолтними гіперпараметрами
підбір гіперпараметрів 
оцінка результатів
