ДЗ 1. Range of flight

Взяти формулу з опису домашнього завдання в лекційних матеріалах (на останньому слайді) -- формула дальності польоту кулі, випущеної під кутом до горизонту.

сформувати масиви даних для кута та початкової швидкості із нормального та рівномірного розподілу
обчислити розподіл дальності польоту
побудувати гістограму дальності польоту
заповнити звіт за результатами досліджень